JWT_SECRET=test-secret-test-secret-test-secret-test-secret
POSTGRES_DB=backend_db
POSTGRES_USER=backend_user
POSTGRES_PASSWORD=backend_pass
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin